@import 'variables';

* {
  padding: $spacing;
  margin: 0;
  overflow-wrap: anywhere;
  box-sizing: border-box;
  font-family: $fontFamily;
  font-size: $fontDefault;
}

.headerMax {
  font-size: $fontMax;
  font-weight: bold;
}

.header {
  font-size: $fontHeader;
}

body {
  position: relative;
  background-color: $bgNormal;
  color: $fgNormal;
  height: 100vh;

  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 7px);
  max-height: calc(100vh - 7px);

  div {
    padding: 0;
  }
}

select {
  background-image:
    linear-gradient(to right, transparent calc(100% - 21px), $bgDark, calc(100% - 19px), darken($fgNormal, 20%), calc(100% - 18px), transparent calc(100% - 18px)),
    linear-gradient(lighten($bgLight, 6%), $bgLight 50%, $bgNormal 50%, darken($bgNormal, 6%));
  border: 1px solid darken($fgNormal, 20%);
  outline: 1px solid black;
  padding: 2px 0;
  margin: 0 $spacing $spacing;
}

.hasTooltip {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
  width: $tooltipWidth;
  background-color: $bgDark;
  color: $fgHighlightedText;
  text-align: start;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid $fgDark;

  position: absolute;
  z-index: 1000;
  bottom: 100%;
  left: 50%;
  margin-left: calc(-1 * $tooltipWidth / 2);
}

.tooltipImage {
  @extend .tooltip;
  position: fixed;
  bottom: auto;
  left: auto;
  right: $spacing;
  top: $spacing;
  max-width: calc(100vw - $spacing);
  max-height: calc(100vh - $spacing);
  width: auto;
  padding: 0;
}

.hasTooltip:hover .tooltip {
  transition: all 0.2s ease-in 0.5s; // fade in after a 0.5s delay
  visibility: visible;
  opacity: 1;
}

.titleDefault {
  color: $titleDefault;
}

.titleCompleted {
  color: $titleCompleted;
}

.titleFavorite {
  color: $titleFavorite;
}

.titleAbandoned {
  color: $titleAbandoned;
}

.titleWatching {
  color: $titleWatching;
}

.horizontalContainer {
  display: flex;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
}

.verticalScrollContainer {
  @extend .verticalContainer;
  overflow-y: auto;
}

fieldset>legend {
  padding: 0 calc($spacing / 2);
  margin-left: $spacing;
}

.gameScroll fieldset>legend {
  text-decoration: underline;
  font-size: $fontSmall;
}

fieldset p {
  padding: 0 $spacing;
}

label>input {
  margin: 0 4px 0 0;
}

.description {
  background-color: $bgLight;
  min-height: 100%;
}

.gameScroll {
  @extend .verticalScrollContainer;
  border: 2px ridge $fgDark;
  max-width: fit-content;
  overflow-x: hidden;
  padding-right: $spacing;
}

::-webkit-scrollbar {
  // width: 15px;
  background-image: linear-gradient(to right, $bgDark, $bgLight);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, lighten($bgLight, 5), $bgDark);
  border: 1px solid $fgDark;
  -webkit-border-radius: 100px;

  &:hover {
    background-image: linear-gradient(to right, lighten($bgLight, 10), lighten($bgDark, 5));
  }

  &:active {
    background-image: linear-gradient(to right, darken($bgLight, 5), darken($bgDark, 5));
  }
}