@import 'variables';

* {
  padding: $spacing;
  margin: 0;
  overflow-wrap: anywhere;
}

body {
  position: relative;
  background-color: $bgNormal;
  color: $fgNormal;
  height: 100vh;
  font-family: $fontFamily;
  font-size: $fontDefault;

  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $appWidth;
  max-width: $appWidth;
  min-height: $appHeight;
  max-height: $appHeight;
}

.hasTooltip {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s ease-in, opacity 0.1s ease-in;
  width: $tooltipWidth;
  background-color: $bgDark;
  color: $fgHighlightedText;
  text-align: start;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid $fgDark;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: calc(-1 * $tooltipWidth / 2);
}

.hasTooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.titleDefault {
  color: $titleDefault;
}

.titleCompleted {
  color: $titleCompleted;
}

.titleFavorite {
  color: $titleFavorite;
}

.titleAbandoned {
  color: $titleAbandoned;
}

.titleWatching {
  color: $titleWatching;
}

.horizontalContainer {
  display: flex;
}

fieldset>legend {
  text-decoration: underline;
  font-size: $fontSmall;
}

fieldset p {
  padding: 0 $spacing;
}

.description {
  background-color: $bgLight;
  min-height: 100%;
}