@use 'sass:color';
@use 'variables';
@use 'reusable';



.description {
  background-color: variables.$bgLight;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;
  margin: 0 variables.$spacing;
}

.game-scroll {
  @extend .vertical-container;
  @extend .scrollable;

  outline: 2px ridge variables.$fgDark;
  max-width: calc(100% - variables.$spacing * 2);
  min-width: calc(100% - variables.$spacing * 2);
  margin: variables.$spacing;
  margin-top: 0;
  flex-grow: 1;
  border-right: variables.$spacing solid transparent;
  position: relative;
  background: variables.$bgNormal;
}

.game-scroll fieldset>legend {
  text-decoration: underline;
  font-size: variables.$fontSmall;
}

.nav-button {
  display: grid;
  align-items: center;
  min-width: max-content;

  button {
    cursor: pointer;
    min-width: 2em;
    min-height: 1.5em;
    margin: 5px;
    border: 1px solid variables.$fgNormal;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transform: perspective(10px) rotateX(10deg);
    grid-column: 1;
    grid-row: 1;
  }

  p {
    min-width: 100%;
    max-height: min-content;
    padding-top: 8px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    text-align: center;
    pointer-events: none;
  }
}

.loading-lineitems {
  @extend .vertical-container;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  overflow-y: hidden;
  margin-top: variables.$spacing;

  div {
    @extend .vertical-container;
    justify-content: center;
    align-items: center;
    min-width: calc(100% - variables.$spacing * 2 - 18px);
    min-height: 134px;
    height: 134px;
    border: 1px dashed variables.$fgNormal;
    margin: variables.$spacing;
    margin-right: calc(variables.$spacing + 18px);

    &::after {
      content: "";
      width: 50px;
      height: 50px;
      border: 7px solid white;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      animation: rotation 1s ease infinite;
    }
  }
}

@mixin fade-in-out($fadeInPercentage, $duration) {
  animation: fadeInOut $duration ease-in-out forwards;

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }

    #{$fadeInPercentage} {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

@keyframes pan {
  from {
    translate: -10ch;
  }

  to {
    translate: 100%;
  }
}

.starting-game {
  @extend .vertical-container;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  background: variables.$fgDark;
  opacity: 1;
  justify-content: center;
  overflow-x: hidden;

  @include fade-in-out(20%, 2s);

  span {
    color: lime;
    font-size: 40pt;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    animation: pan 2s linear forwards;
  }

  .loading {
    background: transparent;
  }
}

.text-search {
  @extend .horizontal-container;
  align-items: center;
  align-self: center;
  margin: variables.$spacing;
  margin-bottom: calc(variables.$spacing * 2);
  position: relative;
  min-width: 75%;
  max-width: 75%;

  input[type=text] {
    flex-grow: 1;
    font-size: variables.$fontTitle;
    margin-right: 0;
    border: 1px solid color.adjust(variables.$fgNormal, $lightness: -10%);
    border-right: none;
  }

  .text-search-suggestions {
    background-color: variables.$bgLight;
    border: 1px solid variables.$fgNormal;
    top: 100%;
    left: 0;
    z-index: 500;
    list-style-type: none;
    overflow-y: auto;
    max-height: 30em;

    p {
      cursor: pointer;
      padding: 0 variables.$spacing;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;

      &.highlighted {
        background-color: variables.$bgHighlight;
        color: variables.$fgHighlightedText;
      }
    }
  }

  button.clear {
    position: absolute;
    top: calc(0.5em - 3px);
    right: 3em;
    border: none;
    min-width: fit-content;
    min-height: fit-content;
    padding: 3px;
    font-family: arial;
    background: transparent;
    opacity: 0.7;
  }

  button {
    min-width: 28px;
    min-height: 29px;

    &:disabled {
      border: 1px solid color.adjust(variables.$fgNormal, $saturation: 30%, $lightness: 15%)
    }
  }
}

.game-picker-container {
  div.inputbox-content {
    span {
      @extend .horizontal-container;
      align-items: center;

      input {
        margin-right: calc(variables.$spacing * 4);
      }

      button {
        display: flex;
        padding: 0 variables.$spacing;
        border-radius: 10px;
        min-width: fit-content;
      }

      h3 {
        text-align: center;
      }
    }

    button {
      position: relative;
      left: -10px;
      max-width: fit-content;
      opacity: 1;
      transition: opacity 200ms ease-in;
      margin: variables.$spacing 0 calc(variables.$spacing * 2);

      &:disabled {
        opacity: 0;
        transition: opacity 100ms ease-in;
      }
    }
  }
}

.missing-games-container {
  div.inputbox {
    min-width: 45%;
  }

  .tooltip {
    min-width: 250px;

    &.missing-status {
      width: fit-content;

      p {
        margin: 0 calc(variables.$spacing * 2);
      }
    }
  }

  div.inputbox-content>div {
    @extend .horizontal-container;

    align-items: center;

    span.btn-container {
      @extend .horizontal-container;

      border: 1px solid variables.$fgNormal;
      border-radius: 1.2em;
      padding: variables.$spacing;
      margin-right: 2px;
      justify-content: space-around;
      width: 4.5em;

      button {
        display: flex;
        height: fit-content;
        min-width: fit-content;
        font-size: variables.$fontDefault;
        border-radius: 5px;

        &.symbol-button {
          justify-content: center;
          align-items: center;
          margin: 0;
          background: variables.$bgLight;
          border: 1px solid variables.$fgDark;
          border-radius: 50%;
          height: 1.7em;
          width: 1.7em;
        }
      }
    }

    span.title-container {
      @extend .horizontal-container;

      align-items: center;
      background-color: variables.$bgLight;
      height: fit-content;
      margin: variables.$spacing 0;
      padding: variables.$spacing calc(variables.$spacing * 3);
      border-radius: 10px;
      max-width: fit-content;

      * {
        margin: 0 variables.$spacing;
      }

      h2 {
        padding: 0;
        color: variables.$fgLight;
      }

    }

    p {
      min-width: 4.2em;
      cursor: default;
      text-align: center;
      padding: 0;
      margin-right: variables.$spacing;
    }
  }

}

.version-container {
  min-width: 90px;
  max-width: 90px;

  legend {
    @extend .horizontal-container;
    align-items: center;

    button {
      display: flex;
      background: transparent;
      border: none;
      min-width: fit-content;
      min-height: min-content;
      padding: 0;
      margin: 0 calc(variables.$spacing / 2) 0 calc(variables.$spacing * 1.5);
    }
  }

  .no-update {
    color: variables.$fgError;
  }
}

.new-games-container {
  div.inputbox {
    min-width: 500px;

    div.inputbox-content {
      position: relative;

      >div {
        @extend .vertical-container;

        max-height: 100%;
        overflow: auto;
        padding-top: calc(variables.$spacing * 5 + 35px);

        div,
        &.legend {
          @extend .horizontal-container;

          align-items: center;
          background-color: variables.$bgLight;
          height: fit-content;
          margin: variables.$spacing 0;
          padding: variables.$spacing calc(variables.$spacing * 3);
          border-radius: 10px;
          max-width: fit-content;

          * {
            margin: 0 variables.$spacing;
          }

          span {
            border-left: 1px inset variables.$bgDark;
            border-right: 1px inset variables.$bgDark;
            padding: 0;
            min-height: 80%;

          }

          h2 {
            padding: 0;
            color: variables.$fgLight;
          }
        }

        &.legend {
          position: absolute;
          top: 0;
          left: 0;
          max-width: none;
          width: calc(100% - 25px);
          overflow: visible;
          padding: 0;
          border-left: 1px solid variables.$fgNormal;
          border-bottom: 1px solid variables.$fgNormal;
          border-right: 1px solid variables.$fgNormal;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          margin: 0;
          z-index: 10;

          span {
            min-height: 2em;
          }

          label {
            @extend .vertical-container;

            flex-direction: column-reverse;
            margin: 0;

            input[type=checkbox] {
              margin: 0;
            }
          }

          h1,
          h2,
          h3 {
            color: variables.$fgHighlightedText;
          }
        }
      }
    }
  }
}

.dislike-game-container {
  .inputbox-content {
    align-items: center;

    p,
    b {
      text-align: center;
    }
  }
}

.line-item {
  min-height: 140px;
  max-height: 140px;
  padding: 0;
  padding-right: 3px;

  fieldset {
    margin: 0 1px;
    padding-top: 0;

    &.tools {
      min-width: max-content;
      justify-content: space-around;
      padding: 0 6px;
      z-index: 2;

      button.circle-button {
        border: 1px solid black;
        border-radius: 50%;
        max-width: 30px;
        min-width: 30px;
        max-height: 30px;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
        cursor: pointer;

        &.play {
          background: SpringGreen;

          &:hover {
            background: Green;
          }
        }

        &.web {
          background: LightSkyBlue;

          &:hover {
            background: SteelBlue;
          }
        }

        &.edit {
          background: Tan;

          &:hover {
            background: Sienna;
          }
        }
      }
    }

    &.title {
      position: relative;
      min-width: 205px;
      max-width: 205px;

      img.preview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.8;
        height: 100%;
        width: 100%;
        padding: 1px;
      }

      p {
        position: relative;
        text-shadow: -1px -1px 2px black, 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black;
        filter: drop-shadow(0 0 1px #0005)
      }
    }

    &.categories {
      min-width: 170px;
      max-width: 170px;
    }

    &.tags {
      min-width: 230px;
      max-width: 230px;
    }
  }

}

#versionTooltip {
  p {
    padding: 0 3px;
  }
}