@use 'reusable';
@use 'variables';


.info-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: max-content 1fr min-content min-content;
  grid-template-rows: repeat(5, min-content) 1fr min-content;

  .align-start {
    align-self: flex-start
  }

  img {
    border: 1px solid variables.$fgDark;
    min-width: 197px;
    max-width: 197px;
    min-height: 117px;
    max-height: 117px;
  }

  button {
    font-size: variables.$fontSmall;
    text-align: center;

    &.pad {
      padding: variables.$spacing;
    }
  }
}

.info-justify-stretch {
  justify-self: stretch;
}

.info-prog-paths-container {
  @extend .vertical-container;
  justify-self: stretch;
  min-height: calc(15vh + 1em);
  height: calc(15vh + 1em);

  >div.horizontal-container {
    justify-content: space-around;

    span {
      margin-left: 7%;
    }
  }

  >div.vertical-container {
    justify-content: start;
    align-items: start;
    border: 1px solid black;
    justify-self: stretch;
    padding: variables.$spacing;
    flex-grow: 1;
    margin-bottom: calc(variables.$spacing * 2);
    overflow-y: auto;
  }

  input {
    font-size: variables.$fontSmall;
    height: 2em;
  }
}

.info-prog-path-horizontal-container {
  @extend .horizontal-container;
  align-items: center;
  width: calc(100% - variables.$spacing*2);
  margin: variables.$spacing;
}