@use 'reusable';
@use 'variables';

.svg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 variables.$spacing;
  min-width: 60px;
  height: min-content;
  margin: 0 variables.$spacing;

  &.with-margin {
    margin: variables.$spacing calc(variables.$spacing * 2);
  }
}

.info-container {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: max-content 1fr min-content min-content;

  &>img {
    border: 1px solid variables.$fgDark;
    min-width: 197px;
    max-width: 197px;
    min-height: 117px;
    max-height: 117px;
  }

  & textarea {
    overflow-y: auto;
    resize: none;
    width: 100%;
    line-height: 1.1em;
    height: calc(5 * 1.1em + variables.$spacing * 3);
    background-color: variables.$bgLight;
    border: none;
    outline: 1px solid transparent;
    transition: outline ease-in-out 200ms;

    &:focus {
      outline: 1px solid variables.$highlightActive;
    }
  }

  & button {
    font-size: variables.$fontSmall;
    text-align: center;
    padding: variables.$spacing;

    &.svg-button {
      @extend .svg-button;
    }
  }
}

.info-column-1 {
  grid-column: 1;
}

.info-column-2 {
  grid-column: 2;
}

.info-column-3 {
  grid-column: 3;
}

.info-column-4 {
  grid-column: 4;
}

.info-column-span-2 {
  grid-column-end: span 2;
}

.info-column-span-3 {
  grid-column-end: span 3;
}

.info-row-1 {
  grid-row: 1;
}

.info-row-2 {
  grid-row: 2;
}

.info-row-3 {
  grid-row: 3;
}

.info-row-4 {
  grid-row: 4;
}

.info-row-5 {
  grid-row: 5;
}

.info-row-6 {
  grid-row: 6;
}

.info-row-7 {
  grid-row: 7;
}

.info-row-span-4 {
  grid-row-end: span 4;
}

.info-justify-stretch {
  justify-self: stretch;
}

.info-prog-paths-container {
  @extend .vertical-container;
  justify-content: start;
  align-items: start;
  border: 1px solid black;
  justify-self: stretch;
  padding: variables.$spacing;
  min-height: 15vh;
  margin-bottom: calc(variables.$spacing * 2);

  & .svg-button {
    min-width: min-content;
    padding: 0;
  }

  & input {
    font-size: variables.$fontSmall;
    height: 2em;
  }
}

.info-prog-path-horizontal-container {
  @extend .horizontal-container;
  align-items: center;
  min-width: 100%;
  margin: variables.$spacing;
}