// colors
$bgDark: #191b1f;
$bgNormal: #202328;
$bgLight: #31363c;
$fgDark: #384c61;
$fgNormal: #849DB8;
$fgLight: #9FE9FF;
$fgHighlight: #004F80;
$fgHighlightedText: #CBDFF3;

// sizes
$tooltipWidth: 225px;
$appWidth: 1340px;
$appHeight: 1200px;

// other
$spacing: 3px;
$fontFamily: 'Ebrima';
$fontSmall: 8pt;
$fontDefault: 11pt;
$fontTitle: 12pt;
$fontHeader: 14pt;
$fontMax: 18pt;
$titleShadow: 3px;

@mixin bgGradient($direction: to bottom, $primaryGrad: none, $light: $bgLight, $dark: $bgDark) {
  background-image:
    $primaryGrad,
    linear-gradient($direction, lighten($light, 10%), $light, 50%, lighten($dark, 5%) 50%, darken($dark, 5%));
  // color % = color starts at %.
  // color1, %, color2 = midpoint of the gradient between color1 and color2 is at %
}