@use "sass:color";
@use "sass:string";
// colors
$bgDark: #191b1f;
$bgNormal: #202328;
$bgLight: #31363c;
$bgHighlight: #004F80;

$fgDark: #384c61;
$fgNormal: #849DB8;
$fgLight: #9FE9FF;
$fgHighlightedText: #CBDFF3;

$fgError: orangered;
$fgWarning: orange;
$fgUpdated: springgreen;
$highlightActive: chocolate;

// sizes
$tooltipWidth: 225px;
$appWidth: 1340px;
$appHeight: 1200px;

// other
$spacing: 3px;
$fontFamily: 'Ebrima';
$fontSmall: 8pt;
$fontDefault: 11pt;
$fontTitle: 12pt;
$fontHeader: 14pt;
$fontMax: 18pt;
$titleShadow: 3px;

@mixin bgGradient($direction: to bottom, $primaryGrad: none, $light: $bgLight, $dark: $bgDark) {
  background-image:
    $primaryGrad,
    linear-gradient($direction, color.adjust($light, $lightness: 10%), $light, 50%, color.adjust($dark, $lightness: 5%) 50%, color.adjust($dark, $lightness: -5%));
  // color % = color starts at %.
  // color1, %, color2 = midpoint of the gradient between color1 and color2 is at %
}

@function percent-encode($color) {
  $strColor: "#{$color}";
  @return "%23#{string.slice($strColor, 2)}";
}